@page "/counter"

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        string datestring = "2023-04-23";
        DateTime dateTime = DateTime.MinValue;
        bool ok = DateTime.TryParse(datestring, out dateTime);

    }
}

